/*-------------------------Paleta de colores--------------------------- */

.colorcfeff0 {
    color: #cfeff0;
}
.colore1dece {
    color: #e1dece;
}
.colora9ccb1 {
    color: #a9ccb1;
}
.color9ebb9c {
    color: #9ebb9c;
}
.color59766b {
    color: #59766b;
}

/* ---------------------------body------------------------------ */

body {
    background-color: #708679;
    font-family: "Lexend", sans-serif;
    border: none;
    background-image: url("img/fondo_index2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

.sub-body{
    padding-bottom: 31em;
}

/* ----------------------------header-------------------------------- */
.div-header {
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(20px);
}
.header_text {
    color: white;
}
.header_text:hover {
    color: gray;
}
.header_buttoms {
    color: white;
    border: none;
    backdrop-filter: blur(10px);
}
.logo-tacher {
    height: 50px;
}
.navbarbutons{
    margin: 0px !important;
}

.burga-item:hover{
    background-color: #9ebb9c;
    color: black;
}
.elem-nav-i-f-sn:hover {
    background-color: rgba(255, 255, 255, 0.501);
    color: black;
    border-radius: 15px;
    transition: 1000ms;
}
.elem-nav-i-f-sn:hover .header_text {
    color: black;
}

.header_buttoms:hover {
    background-color: rgba(255, 255, 255, 0.501);
    color: black;
    transition: 800ms;

}

.header_buttoms:hover .header_buttoms {
    color: black;
}

.registrarse-background {
    background-color: white;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffff;
}

.logo-tacher-header:hover{
    transform: rotate(90deg);
    transition: 2000ms;
}
/* ---------------------------------------body------------------------------------- */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
#PRINCIPIO{
    background-image: url(./img/Orange\ Coral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-label {
    color: white;
}
.centrar{
    margin-top: 150px;
}
.centrar2{
    margin-top: 125px;
}

.text-body-emphasis{
    color: white !important;
}

.presentacion-tacher{
    color: white;
    margin: 0% 20%;
    padding: 100px 0px 50px 0px;
}

.sector-app{
    justify-content: center;
}
.pechland2{
    padding: 200px;
}
@media (max-width: 1199px) {
    .contenido-app .u-sheet-1 {
        min-height: 660px;
    }

    .contenido-app .u-text-2 {
        margin-right: 114px;
    }
}

@media (max-width: 991px) {
    .contenido-app .u-sheet-1 {
        min-height: 506px;
    }

    .contenido-app .u-text-2 {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .contenido-app .u-sheet-1 {
        min-height: 380px;
    }
}

@media (max-width: 575px) {
    .contenido-app .u-sheet-1 {
        min-height: 239px;
    }}
 -------------------------------------objetivos----------------------------------------- */
.fondo {
    padding-bottom: 30px;
}

.banner-publi {
    background-color: rgba(255, 255, 255, 0.084);
    background-color: transparent;
    border: none;
}

.objetivos-title {
    padding: 15px;
    color: white;
}

.objetivosbox {
    padding: 20px;
    color: white;
    border-radius: 8px;
}

.objetivosbox:hover {
    background-color: rgba(255, 255, 255, 0.501);
    transform: scale(1.05);
    transition: all 0.5s;
    color: black;
    .objetivos-registrarse {
        color: black;
    }
}

.direcciones {
    color: black;
    text-decoration: none;
}

.objetivos-registrarse {
    color: white;
}

/* ---------------------------DEVELOPERS/TESTIMONIALS------------------------- */

.div-Testimonios {
    padding-top: 40px;
    padding-bottom: 80px;
    color: white;
}
.tamano-circulo {
    width: 80px;
    height: 80px;
}
.margen-desarrolladores {
    margin-bottom: 20px;
}

.texto-devs {
    color: white;
}

/* ----------------------------FOOTER--------------------------- */

.div-footer-tacher {
    background-color: rgba(255, 255, 255,);
    backdrop-filter: blur(20px);
    font-size: 25px;
    bottom: 0;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-palabras {
    color: black;
    text-decoration: none;
}

.footer-palabras:hover {
    color: #cfeff0;
}

.footer-iconos:hover {
    color: #cfeff0;
}

.footer_text {
    color: black;
}

.footer_text:hover {
    color: #cfeff0;
}

.mapa {
    font-size: 32px;
    color: black;
}

.facebooket {
    font-size: 32px;
    color: black;
}
.gmail {
    font-size: 32px;
    color: black;
}
.mailtext{
    font-size: 16px;
}

.elem-footeter-tacher:hover{
    background-color: rgba(255, 255, 255, 0.501);
    border-radius: 4px;
    transition: 800ms;
    color: white ;

}

.logo-tacher-footer:hover{
    transform: rotate(360deg);
    transition: 1000ms;
}
/* ----------------------------Datos tacher--------------------------- */


.datos-tacher{
    background-image: url(./img/render.jpg);
}
/* ----------------------------Pricing tacher--------------------------- */

.items-pricing{
    padding: 50px;
}

.lista-caracteristicas{
    padding: 40px;
}

.caracteristica-ind{
    padding-bottom: 20px;
}
.imagen-pricing{
    opacity: 0%;
}

.contenedor-pricing:hover{
    transform: scale(1.01);
    transition: 500ms;
}
/* ----------------------------Contactoo--------------------------- */

.seccionContacto{
    background-color:white;
}

.contacto-section{
    padding: 0% 20%;
}

/* ----------------------------FAQS--------------------------- */

.section-FAQ{
    padding: 0% 20%;
}